<div class="container-fluid">
  <div class="row">
    <div class="footer-top-area">
      <div class="zigzag-bottom"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="footer-about-us">
              <h2>Tienda<span>Omega</span></h2>
              <p>
                Bienvenidos a Omega, el epicentro de la diversión y el entretenimiento en el mundo de los juegos. Al entrar en nuestra tienda, 
                te adentrarás en un universo vibrante y emocionante donde cada rincón está diseñado para ofrecerte la mejor experiencia de juego.
                
                En Omega, encontrarás una cuidada selección de videojuegos para todas las plataformas, desde las últimas novedades hasta clásicos atemporales. 
                Nuestros estantes están repletos de opciones para consolas, PC y móviles, así como una gama impresionante de juegos de mesa, rompecabezas y juegos de cartas que prometen horas de diversión.
              </p>
              <div class="footer-social">
                <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="footer-menu">
              <h2 class="footer-wid-title">User Navigation</h2>
              <ul>
                <li><a href="">My account</a></li>
                <li><a href="">Order history</a></li>
                <li><a href="">Wishlist</a></li>
                <li><a href="">Vendor contact</a></li>
                <li><a href="">Front page</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="footer-menu">
              <h2 class="footer-wid-title">Muy Pronto</h2>
              <ul>
                <li><a href="">Consolas </a></li>
                <li><a href="">Accesorios</a></li>
                <li><a href="">Controles</a></li>
                <li><a href="">Reparaciones</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="footer-newsletter">
              <h2 class="footer-wid-title">Newsletter</h2>
              <p>
                Sign up to our newsletter and get exclusive deals you wont find
                anywhere else straight to your inbox!
              </p>
              <div class="newsletter-form">
                <input type="email" placeholder="Type your email" />
                <input type="submit" value="Subscribe" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom-area">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="copyright">
              <p>
                &copy; 2024 O-Commerce. All Rights Reserved.
                <a href="http://www.freshdesignweb.com" target="_blank"
                  >freshDesignweb.com</a
                >
              </p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="footer-card-icon">
              <i class="fa fa-cc-discover"></i>
              <i class="fa fa-cc-mastercard"></i>
              <i class="fa fa-cc-paypal"></i>
              <i class="fa fa-cc-visa"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
